<div class="container" id="generalContainer">
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Photo</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users; let i = index">
          <th scope="row">{{i + 1}}</th>
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td><img src="{{user.avatar}}" class="user-image"></td>
          <td><button type="button" class="btn btn-outline-info" (click)="redirectToUserDetails(user.id)">View Details</button></td>
<!--          could be done the following way-->
<!--          <td><button type="button" class="btn btn-outline-info" routerLink="/allUsers/{{user.id}}">View Details</button></td>-->
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
